# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
./componentes/firebase.js
/public/firebase.js
/public/firebaseConfig.js
/public/firebaseConfig.json
/public/firebaseConfig.prod.json
/public/firebaseConfig.dev.json
src/firebase.js
src/firebaseConfig.js
src/firebaseConfig.json
src/firebaseConfig.prod.json
src/pages/text.txt
# Editor directories and files
.vscode/*e
!.vscode/extensions.json
.idea
.DS_Store
*.suoe
*.njsproj
*.sln
*.sw?
